<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sprinkler1"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".ReviewNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ProblemExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".ReadMeActivity"
            android:exported="false" />
        <activity
            android:name=".TodayActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionSolve2Activity"
            android:exported="false" />
        <activity
            android:name=".QuestionSolve1Activity"
            android:exported="false" />
        <activity
            android:name=".QuestionTimeActivity"
            android:exported="false" />
        <activity
            android:name=".AlgorithmStudyActivity"
            android:exported="false" />
        <activity
            android:name=".LearningNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ThemeColorActivity"
            android:exported="false"
            android:theme="@style/Theme.Sprinkler1" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />

        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsActivity"
            android:exported="false" />
        <!-- <activity --><!-- android:name=".UserSettingActivity" --><!-- android:exported="false" /> -->
        <activity
            android:name=".StudytimeActivity"
            android:exported="false" />
        <activity
            android:name=".StudyPopupActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="callback" />



            </intent-filter>
        </activity>

        <activity
            android:name=".GitLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>